body
{
    background-color:rgb(71, 67, 67);
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

#cabecera
{
    background: rgb(11, 11, 121);
    font-weight: bold;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.7);
    color: white;
    margin: 0;
    padding: 0.5em;
 
}

#cabecera #tagline 
{

    padding: 0 0 0 35em;
    font-weight: normal;
    font-size: 0.8em;
}
#cabecera #logo {
    width: 45px;
    background-color: darkgrey;
}

#container
{
    width: 70%;
    padding: 0;
    text-align: left;

    margin: 0 auto;
}

#post
{
    background-color: white;
    border: 1px solid black;
    padding: 1em;
}
#footer
{

    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgb(11, 11, 121);
    color:white
}
